In [1]:
parent_1 = ["BY", "By", "bY", "by"]
parent_2 = ["bY", "bY", "bY", "bY"]

In [2]:
from binftools import *

In [3]:
table = Punnett_Square(parent_1, parent_2)

In [4]:
table

      bY    bY    bY    bY
BY  BYbY  BYbY  BYbY  BYbY
By  BybY  BybY  BybY  BybY
bY  bYbY  bYbY  bYbY  bYbY
by  bybY  bybY  bybY  bybY

In [12]:
def summer(g, h=0):
    f = g**h
    print(f)
    return

In [11]:
print(summer(2,3))

8
None

In [13]:
print (summer(4,5))

1024
None

In [14]:
def myfunc(y, x=0):
    z = y**x
    print(z)
    return

In [16]:
p = myfunc(2)

1

In [17]:
a = [1,2,3]

In [18]:
b = a

In [19]:
b

[1, 2, 3]

In [20]:
a

[1, 2, 3]

In [21]:
b.append(420)

In [22]:
a

[1, 2, 3, 420]

In [23]:
del b(:-1)

SyntaxError: invalid syntax (<ipython-input-23-2f45545cc7ce>, line 1)

In [24]:
del b(-1:)

SyntaxError: invalid syntax (<ipython-input-24-22955578d84d>, line 1)

In [25]:
b

[1, 2, 3, 420]

In [26]:
del b[:-1]

In [27]:
b

[420]

In [28]:
b = a

In [29]:
b

[420]

In [30]:
a

[420]

In [31]:
a = [1,2,3]

In [32]:
b = a

In [33]:
a.append(1)

In [34]:
b

[1, 2, 3, 1]

In [35]:
a

[1, 2, 3, 1]

In [36]:
a = array(a)

NameError: name 'array' is not defined

In [37]:
import numpy

In [38]:
a = array(a)

NameError: name 'array' is not defined

In [39]:
from pylab import *

In [40]:
a = array(a)

In [41]:
a

array([1, 2, 3, 1])

In [42]:
b

[1, 2, 3, 1]

In [43]:
b = a

In [44]:
b

array([1, 2, 3, 1])

In [45]:
a[0] = 19

In [46]:
b

array([19,  2,  3,  1])

In [47]:
def args(*args):
    print(args)

In [50]:
def args(*args):
    print(args)
    return

In [51]:
args(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [53]:
mylist = []
for n in range(0,1010,10):
    mylist.append(n)
print(mylist)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [54]:
len(mylist)

101

In [55]:
newlist = []
for n in mylist:
    if n >= 300 and n <= 700:
        newlist.append(n)

newlist

[300,
 310,
 320,
 330,
 340,
 350,
 360,
 370,
 380,
 390,
 400,
 410,
 420,
 430,
 440,
 450,
 460,
 470,
 480,
 490,
 500,
 510,
 520,
 530,
 540,
 550,
 560,
 570,
 580,
 590,
 600,
 610,
 620,
 630,
 640,
 650,
 660,
 670,
 680,
 690,
 700]

In [56]:
for n in newlist:
    newlist[n] = newlist[n]-300
    
newlist

IndexError: list index out of range

In [57]:
for n in newlist:
    print(n)

300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700

In [58]:
newlist[0]

300

In [59]:
for n in newlist:
    print(n)

300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700

In [60]:
for i, n in enumerate(newlist):
    newlist[i] = newlist[i]-300
    
print(newlist)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400]

In [61]:
import time

In [62]:
time.now()

AttributeError: module 'time' has no attribute 'now'

In [63]:
time.time.now()

AttributeError: 'builtin_function_or_method' object has no attribute 'now'

In [64]:
time.today()

AttributeError: module 'time' has no attribute 'today'

In [65]:
time.time()

1502017000.8464034